0 0 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi >/proc/1/fd/1 2>/proc/1/fd/2
0 1 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi >/proc/1/fd/1 2>/proc/1/fd/2
0 2 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi >/proc/1/fd/1 2>/proc/1/fd/2
0 3 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi >/proc/1/fd/1 2>/proc/1/fd/2
0 7 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi >/proc/1/fd/1 2>/proc/1/fd/2
0 8 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/correctionsData >/proc/1/fd/1 2>/proc/1/fd/2
0 12 * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi
50 23 * * * curl -k https://painelhomolog.alvogrt.com/cron/schedules/expire >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * curl -k https://painelhomolog.alvogrt.com/cron/servicesOrders/expire >/proc/1/fd/1 2>/proc/1/fd/2
0 * * * * curl -k https://painelhomolog.alvogrt.com/imports/contracts/importapi/partial >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
