0 0 * * * php ~/public/index.php imports contracts importapi  >> myjob.log 2>&1
0 1 * * * php ~/public/index.php imports contracts importapi  >> myjob2.log 2>&1
0 3 * * * php ~/public/index.php imports contracts importapi >> myjob3.log 2>&1
0 7 * * * php ~/public/index.php imports contracts importapi >> myjob4.log 2>&1
0 8 * * * php ~/public/index.php imports contracts correctionsData
0 * * * * php spark schemas -draft database,model -archive cache
50 23 * * *  php ~/public/index.php cron schedules expire
0 0 * * * php ~/public/index.php cron servicesOrders expire

# An empty line is required at the end of this file for a valid cron file.
